{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 card mt-5">
        {% include '../includes/messages.html' %}

        <div class="card-body">
            <h1 class="h4 text-gray-900 mb-2">{% trans "Verify Your E-mail Address" %}</h1>
            <hr>
            <div class="">
                {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
