{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Customer History</h6>
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            {% for product in sellproduct %}
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.product.product_name }}</td>
                                            <td>{{ product.price}}</td>
                                            <td>{{ product.quantity}}</td>
                                            <td>{{ product.status }}</td>
                                            <td>
                                                {% if request.user.is_staff %}
                                                <a href="{{ product.get_update_url }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
                                                <a href="{{ product.get_delete_url }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i></a>
                                                {% endif %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}