{% extends './base.html' %}

{% block title %}Products - {% endblock title %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Subcategory</th>
                                <th>Sell Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.get_unique_number }}</td>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.subcategory}}</td>
                                <td>{{ product.sell_price }}</td>
                                <td>{{ product.quantity }}</td>

                                <td>
                                    {% if request.user.is_staff %}
                                    <div class="btn-toolbar justify-content-between" role="toolbar"
                                        aria-label="Toolbar with button groups">
                                        <div class="btn-group" role="group" aria-label="First group">
                                            <a href="{{ product.get_update_url }}"
                                                class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
                                            <a href="{{ product.get_delete_url }}"
                                                class="btn btn-sm btn-outline-danger"><i
                                                    class="fa fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}